<div class="container">
  <div class="inner-container">
    <app-card-templates [card]="card">
    </app-card-templates>
  </div>
  <form class="inner-container" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="recipientName">Recipient</label>
      <input
        id="recipientName" name="recipient"
        type="text" class="form-control"
        [(ngModel)]="card.recipient" required>
    </div>
    <div class="form-group">
      <label for="emailAddress">Recipient's Email</label>
      <input
        id="emailAddress" name="email"
        type="text" class="form-control"
        [(ngModel)]="card.email" required>
    </div>
    <div class="form-group">
      <label for="senderName">Sender's Name</label>
      <input
        id="senderName" name="sender"
        type="text" class="form-control"
        [(ngModel)]="card.sender" required>
    </div>
    <div class="form-group form-row">
      <div class="col-md-8">
        <label for="sendDate">Send Date</label>
        <div class="input-group">
          <input
            #dateInput="ngbDatepicker"
            class="form-control" name="scheduledDate"
            [(ngModel)]="card.scheduledDate" ngbDatepicker/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dateInput.toggle()" type="button">Pick Date</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="sendTime">Send Time</label>
        <ngb-timepicker id="sendTime" name="scheduledTime" [spinners]=false [(ngModel)]="card.scheduledTime">
        </ngb-timepicker>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary btn-space" type="reset">Clear</button>
      <button class="btn btn-primary btn-space" type="submit">Create</button>
    </div>
  </form>
</div>