<div class="container">
 
    <div class="row py-5">
        <div class="col-md-6">
            <app-card-templates [type]="type"></app-card-templates>
        </div>
        <div class="col-md-6">

            <form [formGroup]="this.cardsService.cardForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                    <label for="exampleInputPassword1">Sign the card for (Recipient)</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" 
                    formControlName="cardFor" placeholder="Recipient">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Recipient's Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" 
                    formControlName="cardForEmail" placeholder="Recipient">
                  </div>
              
                <div class="form-group">
                    <label for="exampleInputPassword1">Sender's Name</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" 
                    formControlName="signers" placeholder="CreatorName">
                  </div>
                
                <button type="submit" [disabled]="this.cardsService.cardForm.pristine">Save</button>
                <button type="reset" (click)="revert()" [disabled]="this.cardsService.cardForm.pristine">
                    Revert
                </button>
              </form>

        </div>
    </div>
</div>