<div class="container">

  <div class="row py-5">
    <div class="col-md-6">
    
      <app-card-templates [type]="type"></app-card-templates>
    </div>
    <div class="col-md-6">

      <form [formGroup]="this.cardsService.cardForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="exampleInputPassword1">Sign the card for (Recipient)</label>
          <input type="email" class="form-control" id="exampleInputPassword1" formControlName="recipient">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Recipient's Email</label>
          <input type="email" class="form-control" id="exampleInputPassword1" formControlName="email">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Sender's Name</label>
          <input type="email" class="form-control" id="exampleInputPassword1" formControlName="sender">
        </div>

        <button class="btn btn-outline-primary btn-space" type="submit"
          [disabled]="this.cardsService.cardForm.pristine">Create</button>
        <button class="btn btn-outline-primary btn-space" type="reset" (click)="revert()"
          [disabled]="this.cardsService.cardForm.pristine">
          Clear
        </button>
      </form>

    </div>
  </div>
</div>